<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="--background: none;"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <div class="vertical-center">
    <ion-text class = "text"> Create account </ion-text>
    <br>
    <ion-item lines="full" class="enter">
      <ion-input type="text" class = "n" id="e" placeholder="Full Name" #name required></ion-input>
    </ion-item>
    <ion-item lines="full" class="enter">
      <ion-input type="text" class = "e" id="e" placeholder="Email" #email required></ion-input>
    </ion-item>
    <ion-item lines="full" class="enter">
      <ion-input type="password"  class = "p" placeholder = "Password" #password required></ion-input> 
    </ion-item>
    <ion-item lines="full" class="enter">
  
      <ion-input type="password"  class = "p" placeholder = "Confirm Password" #password2 required></ion-input> 
    </ion-item>
    <br>
    <ion-row>
      <ion-col> 
      <ion-button type="submit" id= "open-modal" (click)="signUp(name, email, password, password2)" expand="block">Register</ion-button>

      </ion-col>
    </ion-row>
    <ion-note class="ion-text-center" >
      <a [routerLink]="['/login']" class="register-link" style="text-decoration: none;">
        Already have an account? <span class="bold-orange">Sign in</span>
      </a>
    </ion-note>


    <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
      <ng-template>
        <div class="block">
          <ion-header>
            <div class="modal-content">
              <ion-item lines="full" class="texttt">
                <div>
                  <h2>Verify Password</h2>
                  <br>
                  <ion-text class="t1">Please check your email and click on the link to verify your email.</ion-text>
                  <br>
                </div>
              </ion-item>
                <ion-row>
                  <ion-col>
                    <ion-button
                      class = "buttons"
                      type="submit"

                      (click)="authService.SendVerificationMail()" expand="block"
                    >
                    Resend Verification Email
                    </ion-button>
                  </ion-col>
                </ion-row>
                <a [routerLink]="['/login']" class="register-link" style="text-decoration: none;">
                  Continue to login
                </a>
            </div>
          </ion-header> 
      </div>
      </ng-template>
    </ion-modal>
  </div>  
</ion-content>