<ion-header>
  <ion-toolbar>
    <ion-title>Q&A Forum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Add a form to submit new questions -->
  <ion-card>
    <ion-card-header>
      Ask a Question
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Question Title</ion-label>
        <ion-input [(ngModel)]="newQuestion.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Question Description</ion-label>
        <ion-textarea [(ngModel)]="newQuestion.description"></ion-textarea>
      </ion-item>
      <ion-button expand="block" (click)="askQuestion()">Submit</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Display existing questions -->
  <ion-list>
    <ion-item *ngFor="let question of questions">
      <ion-label>
        <h2>{{ question.title }}</h2>
        <p>{{ question.description }}</p>
      </ion-label>
      <ion-button (click)="toggleReply(question)">View {{ question.replies?.length }} Replies</ion-button>
      <ion-input *ngIf="question.showReply" [(ngModel)]="question.newAnswer" placeholder="Your answer"></ion-input>
      <ion-button *ngIf="question.showReply" (click)="submitReply(question)">Submit</ion-button>
      <div *ngIf="question.showReplies">
        <ion-list>
          <ion-item *ngFor="let reply of question.replies">
            {{ reply.text }}
          </ion-item>
        </ion-list>
      </div>
    </ion-item>
  </ion-list>
  
  
  
</ion-content>
