<ion-header>
  <ion-toolbar>
    <ion-title>add drink</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">record</ion-title>
    </ion-toolbar>
  </ion-header>  

  <ion-item>
    <ion-label>hot/iced</ion-label>
    <ion-select [(ngModel)]="drinkTemperature" name="drinkTemperature">
      <ion-select-option value="hot">hot</ion-select-option>
      <ion-select-option value="iced">iced</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>size</ion-label>
    <ion-select [(ngModel)]="drinkSize" name="drinkSize">
      <ion-select-option value="short">short</ion-select-option>
      <ion-select-option value="tall">tall</ion-select-option>
      <ion-select-option value="grande">grande</ion-select-option>
      <ion-select-option value="venti">venti</ion-select-option>
      <ion-select-option value="trenta">trenta</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>drink name</ion-label>
    <ion-select [(ngModel)]="drinkName" name="drinkName">
      <ion-select-option value="pike">pike</ion-select-option>
      <ion-select-option value="dark">dark roast</ion-select-option>
      <ion-select-option value="latte">latte</ion-select-option>
      <ion-select-option value="americano">americano</ion-select-option>
      <ion-select-option value="chai">chai</ion-select-option>
      <ion-select-option value="brewed black tea">brewed black tea</ion-select-option>
      <ion-select-option value="brewed green tea">brewed green tea</ion-select-option>
      <ion-select-option value="herbal tea">herbal tea</ion-select-option>
      <ion-select-option value="cold brew">cold brew</ion-select-option>
      <ion-select-option value="nitro cold brew">nitro cold brew</ion-select-option>
      <ion-select-option value="shaken espresso">shaken espresso</ion-select-option>
      <ion-select-option value="black tea">black tea</ion-select-option>
      <ion-select-option value="green tea">green tea</ion-select-option>
      <ion-select-option value="passion tea">passion tea</ion-select-option>
      <ion-select-option value="refresher">refresher</ion-select-option>
      <ion-select-option value="creme-based frappuccino">creme-based frappuccino</ion-select-option>
      <ion-select-option value="coffee-based frappuccino">coffee-based frappuccino</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="full" (click)="addDrink()">add drink</ion-button>

</ion-content>
