<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>question-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">question-list</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

-->

<ion-header>
  <ion-toolbar>
    <ion-title>Question List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let question of questions" (click)="viewQuestion(question.id)">
      {{ question.text }}
    </ion-item>
  </ion-list>
</ion-content>