.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
}

.forgot-password-link {
  position: absolute;
  top: 13px;
  right: 0;
  font-size: 14px;
  margin-right: 10px;
}

.icon-container{
  display:flex;
  flex-direction: column;
}


.text1 {
  margin-left: 30px;
  margin-bottom: 5px;
  font-size: 30px;
}

.text2 {
  margin-left: 30px;
  font-size: 15px;
  color: rgb(97, 97, 97);
}

.icon {
  position: absolute;
  top: 12px;
  font-size: 18px;
}
.link a {
  color: #be8317;
  font-size: 15px;
}
.buttons {
  margin-left: 28px;
  margin-right: 28px;
  --background: #be8317;
  --background-hover: #be8317;
  --background-activated: #be8317;
  --background-focused: #be8317;
  gap: 5px;
  margin-top: -3px;
  margin-bottom: 8px;
}
.model-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texttt{
  margin-top: 8%;
  margin-left: 21px;
  margin-right: 20px;
  font-size: 16px;
  margin-bottom: 8px;
}

ion-modal {
  --backdrop-filter: none;
  ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
  }
  
}

.modal-content {
  text-align: center;
  padding: 20px;
}
ion-modal {
  ion-content {
    --ion-background-color: transparent;
  }
  --height: 70%;
  
  ion-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    --ion-item-background: none;
    --border-width: 0;
    --highlight-height: 0;
    --detail-push-height: 0;
  }
}

ion-modal, ion-content {
  overflow: visible !important;
}

.enter {
  margin-left: 30px;
  margin-right: 30px;
  --background: #f5f5f5;
  border-color: #403E39;
  border-width: thin;
  border-style: solid;
  border-radius: 8px;
  margin-top: 10px;
}

.e {
  text-indent: 28px;
  

}
.ee {
  --background: #f5f5f5;
  border-color: #403E39;
  border-width: thin;
  border-style: solid;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 8px;
}

.p {
  text-indent: 28px;
  
  
}
.AAAAA {
  margin-left: 3
}

.on-back-button {
  background-color: transparent;
}

.register-link {
  color: rgb(97, 97, 97);
  font-size: 15px;
}

.bold-orange {
  font-weight: bold;
  color: #309854;
  font-size: 15px;
}

.custom-login-button {
  background-color: #309854 !important;
  border-radius: 20px !important;
}

