
<!--
<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
-->

<ion-tabs>
  <ion-tab-bar slot="bottom" *ngIf="showTabs">
    <ion-tab-button tab="dashboard">
      <ion-icon name="clipboard"></ion-icon>
      Virtual Treatment Diary
    </ion-tab-button>
    <ion-tab-button tab="daily-progress-check">
      <ion-icon name="checkbox-outline"></ion-icon>
      <ion-label>Daily Progress Check</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="qanda">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Q & A Forum</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="question-list">
      <ion-icon name="help-circle-outline"></ion-icon>
      FAQ List
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>