
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">hi, {{ userName }}!</ion-title>
    </ion-toolbar>
  </ion-header>  
  



  <ion-card>
    
    <ion-card-header style="margin-bottom: 0;">
      <a>pun of the day: why couldn't the bike stand up? it was too tired. </a>
      
    </ion-card-header>

    <ion-card-header>
      <!-- <a [routerLink]="['/add-drink']">Add drink</a> -->
      <ion-button (click)="goToAddDrinkPage()">add drink</ion-button>
    </ion-card-header>
      
    <ion-card-content>
      <!-- <app-appointment-booking></app-appointment-booking> -->
      
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-list>
      <ion-item *ngFor="let drink of caffeineData">
          <strong>{{ drink.temperature }} {{ drink.size }} {{ drink.name }}    </strong>
        <div class="line-break"></div>
          caffeine: {{ drink.caffeine }} mg
        <div class="line-break"></div>
          {{ drink.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}

      </ion-item>
    </ion-list>
  </ion-card>

  
   
  <ion-button type="submit" (click)="authService.SignOut()" expand="block">Logout</ion-button>
</ion-content>
